{% extends 'home/header.html' %}
{% block content %}
    <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-sm p-4" style="max-width: 400px; width: 100%;">
      <div class="card-body">
        <h3 class="text-center text-primary mb-4">Forgot Password</h3>
        <form method="post" class="needs-validation" novalidate>
          {% csrf_token %}
          <!-- Render Django form -->
          <div class="mb-3">
            {{ form.as_p }}
          </div>
          <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}